<% include partials/header %>

<script>
    $("#profile").addClass("active");
    $("#title").text("Profil");
</script>

<div class="card">
        <div class="card-header mt-4 bg-primary text-white">    
            <h4 class="mb-0"> <%= user.firstName  %> </h4>
        </div>
        <div class="card-body">
                <div class="row">
                    <div class="col-4">
                        <p><strong>Fulde navn:</strong></p>
                        <p><strong>Adresse:</strong></p>
                        <p><strong>E-mail:</strong></p>
                        <p><strong>Telefon:</strong></p>                    
                    </div>
                    <div class="col-8">
                        <p><%= user.firstName + " " + user.lastName %> </p>
                        <p><%= user.street + " " + user.houseNumber %>, <%= user.zipcode + " " + user.town %></p>
                        <p><%= user.username %></p>
                        <p><%= user.phone %></p>                    
                    </div>
                <div class="col-3">
                    <img src="<%= user.avatarURL %>" width="200">
                </div>
            </div>
            <a class="btn btn-outline-primary float-right pointer" id="logout" href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i> Log ud</a>
        </div>
    </div>

<% include partials/footer %>